<div class="basic-container">
    <mat-grid-list cols="4" rowHeight="60px">
        <mat-grid-tile>
            <h4>Danh sách bãi xe</h4>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button matTooltip="Nhấn để thêm mới vị trí" class="mr-3" (click)="addPosition()">Thêm mới
                vị trí</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm">
                <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value"
                    (click)="filter.value=''; applyFilter('');">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    <!-- <form [formGroup]="formFloor">
        <p>Tầng:</p>
        <mat-form-field>
          <mat-label>Tầng</mat-label>
          <select matNativeControl required formControlName="floor">
              <option value=1>1</option>
              <option value=2>2</option>
          </select>
      </mat-form-field>
      </form> -->
    <mat-grid-list cols="12" rowHeight="60px">
        <mat-grid-tile>
            <h6 h6 style="margin-left: 30px; float: left; font-weight: bolder;">Tầng: </h6>
        </mat-grid-tile>
        <mat-grid-tile>
            <form [formGroup]='formFloor'>
                <mat-form-field style="float: left;">
                    <mat-label>Tầng</mat-label>
                    <mat-select formControlName='nameFloor'(selectionChange)="chooseFloor($event.value)">
                        <mat-option [value]= 0>--</mat-option>
                        <mat-option *ngFor="let floor of floors" [value]="floor">
                            {{floor.nameFloor}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="container">
        <!-- Table -->
        <div class="container-table">
            <!-- Position Column -->
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="STT">
                    <th mat-header-cell *matHeaderCellDef> STT </th>
                    <td mat-cell *matCellDef="let element,let i = index"> {{i+1}}
                    </td>

                </ng-container>

                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> Vị trí </th>
                    <td mat-cell *matCellDef="let element">
                        <p *ngIf="!element.create">{{element.nameOfPosition}} </p>
                        <!-- <p *ngIf="element.create && formCreateVehicle.controls.licensePlate.errors?.required && formCreateVehicle.controls.licensePlate.touched"
                        class="text-danger">Vui lòng nhập biển số xe</p> -->
                    </td>
                </ng-container>

                <ng-container matColumnDef="floor">
                    <th mat-header-cell *matHeaderCellDef> Tầng </th>
                    <td mat-cell *matCellDef="let element">
                        <p *ngIf="!element.create">{{element.idParkingFloor}} </p>
                        <!-- <p *ngIf="element.create && formCreateVehicle.controls.typeOfVehicle.errors?.required && formCreateVehicle.controls.typeOfVehicle.touched"
                         class="text-danger">Vui lòng nhập loại xe</p> -->
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Tình trạng </th>
                    <td mat-cell *matCellDef="let element">
                        <p *ngIf="!element.create">{{element.positionStatus}} </p>
                        <!-- <p *ngIf="element.create && formCreateVehicle.controls.typeOfVehicle.errors?.required && formCreateVehicle.controls.typeOfVehicle.touched"
                         class="text-danger">Vui lòng nhập loại xe</p> -->
                    </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="headerTable"> Tác vụ </th>
                    <td mat-cell *matCellDef="let element; let i = index;">
                        <mat-icon>edit</mat-icon>
                        <mat-icon style="margin-left: 20px;">save</mat-icon>
                        <mat-icon style="margin-left: 30px;">delete</mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>
        <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = handlePage($event)">
        </mat-paginator>
    </div>
</div>