<div class="container">
    <div class="form-container">
        <h4>Nhập vào username tài khoản của bạn : </h4>
        <input class="input" type="text" placeholder="Username" [(ngModel)]="username" />
    </div>
    <mat-error class="error-message">
        {{listNotify}}
    </mat-error>
    <div class="button">
        <input type="submit" class="btn1" value="Cancle" (click)=onNoClick() />
        <input type="submit" class="btn2" value="Send" (click)="forgotPassword()" />
        <input type="Email" class="btn2" value="Send" (click)="forgot()" />
    </div>
</div>