<h1 mat-dialog-title>
</h1>
<div mat-dialog-content>
    <div class="container">
        <mat-icon class="v-align-middle">info</mat-icon>
        <span class="align-middle">Thông tin chi tiết vị trí đỗ</span>
    </div>
    <div style="width: 300px;margin-bottom: 30px;">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <div class="detail">
                    <span class="name">Vị trí đỗ</span>
                    <span>{{positon}}</span>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
                <div class="detail">
                    <span class="name">Vị Trí</span>
                    <span>{{floor}}</span>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>

    <div>
        <div class="container">
            <mat-icon class="v-align-middle">account_box</mat-icon>
            <span class="align-middle">Thông tin xe & Chủ sở hữu</span>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <div class="detail">
                        <span class="name">Họ và tên</span>
                        <span>{{customerName}}</span>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">
                    <div class="detail">
                        <span class="name">Email</span>
                        <span>{{email}}</span>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">
                    <div class="detail">
                        <span class="name">Loại xe</span>
                        <span>{{vehicleType}}</span>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </div>
        <div class="col-6">
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <div class="detail">
                        <span class="name">Ngày sinh</span>
                        <span>{{dateOfBirth | date: 'dd/MM/yyyy'}}</span>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">
                    <div class="detail">
                        <span class="name">Số điện thoại</span>
                        <span>{{phoneNumber}}</span>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">
                    <div class="detail">
                        <span class="name">Biển số</span>
                        <span>{{licensePlate}}</span>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <!-- <button mat-button (click)="onNoClick()" style="margin-left: 30px;">Quay Lại</button>
    <button mat-button (click)="deleteTicket()" cdkFocusInitial>Hủy Vé</button> -->
</div>