<h1 mat-dialog-title>
</h1>
<div mat-dialog-content>
    <div class="container">
        <mat-icon class="v-align-middle">info</mat-icon>
        <span class="align-middle">Thông tin chi tiết vị trí đỗ</span>
    </div>
    <div style="width: 300px;margin-bottom: 30px;">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <span class="name">Vị trí đỗ</span>
                <span style="margin-left: 177px;">A-12</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
                <span class="name">Vị Trí</span>
                <span style="margin-left: 183px;">Tầng 1</span>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>


    <div>
        <div class="container">
            <mat-icon class="v-align-middle">account_box</mat-icon>
            <span class="align-middle">Thông tin xe & Chủ sở hữu</span>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <span class="name">Họ và tên</span>
                    <span style="margin-left: 108px;">Nguyễn Văn A</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">
                    <span class="name">Email</span>
                    <span style="margin-left: 81px;">something@gmail.com</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">
                    <span class="name">Loại xe</span>
                    <span style="margin-left: 143px;">Honda Civic</span>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </div>
        <div class="col-6">
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <span class="name">Ngày sinh</span>
                    <span style="margin-left: 123px;">12/12/1999</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">
                    <span class="name">Số điện thoại</span>
                    <span style="margin-left: 80px;">0905050905</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">
                    <span class="name">Biển số</span>
                    <span style="margin-left: 146px;">43A-4444</span>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <!-- <button mat-button (click)="onNoClick()" style="margin-left: 30px;">Quay Lại</button>
    <button mat-button (click)="deleteTicket()" cdkFocusInitial>Hủy Vé</button> -->
</div>