<div class="basic-container">
    <mat-grid-list cols="4" rowHeight="60px">
        <mat-grid-tile>
          <h4>Danh sách xe</h4>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button matTooltip="Nhấn để thêm mới xe" class="mr-3" (click)="addVehicle()">Thêm mới xe</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm">
                <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value"
                    (click)="filter.value=''; applyFilter('');">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    <!-- <h6 style="margin-left: 30px; float: left; font-weight: bolder;">Tên khách hàng: Lê Hà Mạnh Linh</h6> -->
    <!-- <h6 style="margin-left: 300px; font-weight: bolder;">Ngày sinh: 16/10/1998</h6> -->
    <form [formGroup]='formCustomer' style="margin-top: 50px;">
        <div class="form-group">
            <h6 style="margin-left: 30px; float: left; font-weight: bolder;">Tên khách hàng:</h6>
            <input disabled style="width: 200px; margin-left: 30px; float: left;" class="form-control" type="text" formControlName='fullName'>
            <h6 style="margin-left: 30px; float: left; font-weight: bolder;  margin-right: 30px;">Ngày sinh:</h6>
            <input disabled style="width: 200px;" class="form-control" type="text" formControlName='dateOfBirth'>
        </div>
        <!-- <div class="form-group">
        <input class="form-control" type="text" formControlName='email'>
    </div> -->
    </form>
    <div class="container">
        <!-- Table -->
        <div class="container-table">
            <!-- Position Column -->
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [formGroup]="formCreateVehicle">
                <ng-container matColumnDef="STT">
                    <th mat-header-cell *matHeaderCellDef> STT </th>
                    <td mat-cell *matCellDef="let element,let i = index"> {{i+1}}
                    </td>

                </ng-container>

                <ng-container matColumnDef="licensePlate">
                    <th mat-header-cell *matHeaderCellDef> Biển số xe </th>
                    <td mat-cell *matCellDef="let element"> 
                       <p *ngIf="!element.create" >{{element.licensePlate}} </p>
                        <input type="text" matInput *ngIf="element.create" formControlName="licensePlate">
                        <p *ngIf="element.create && formCreateVehicle.controls.licensePlate.errors?.required && formCreateVehicle.controls.licensePlate.touched"
                        class="text-danger">Vui lòng nhập biển số xe</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="typeOfVehicle">
                    <th mat-header-cell *matHeaderCellDef> Loại xe </th>
                    <td mat-cell *matCellDef="let element"> 
                        <p *ngIf="!element.create" >{{element.typeOfVehicle}} </p>
                         <input type="text" matInput *ngIf="element.create" formControlName="typeOfVehicle">
                         <p *ngIf="element.create && formCreateVehicle.controls.typeOfVehicle.errors?.required && formCreateVehicle.controls.typeOfVehicle.touched"
                         class="text-danger">Vui lòng nhập loại xe</p>
                     </td>
                </ng-container>

                <ng-container matColumnDef="ticketType">
                    <th mat-header-cell *matHeaderCellDef> Loại vé </th>
                    <td mat-cell *matCellDef="let element"> 
                        <p *ngIf="!element.create" >{{element.ticketType}} </p>
                        <p *ngIf="element.create" ></p>
                     </td>
                </ng-container>

                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef> Thời hạn vé </th>
                    <td mat-cell *matCellDef="let element"> 
                        <p *ngIf="!element.create" >{{element.endDate}} </p>
                        <p *ngIf="element.create" ></p>
                     </td>
                </ng-container>
                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="headerTable"> Tác vụ </th>
                    <td mat-cell *matCellDef="let element; let i = index;">
                        <mat-icon *ngIf="!element.create">edit</mat-icon>
                        <mat-icon *ngIf="element.create" style="margin-left: 20px;" (click) ="save()">save</mat-icon>
                        <mat-icon style="margin-left: 30px;" *ngIf="!element.create">delete</mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>
        <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = handlePage($event)">
    </mat-paginator>
        <button [routerLink]="['/customer-list']">Trở về </button>
    </div>
</div>