<div >

    <!-- Tìm kiếm -->
    <!-- <input
    type="text"
    class="form-control input-sm"
    id="dob"
    name="dob"
    oh-validate-model-state
    ng-model-options="formModelOptions"
    ng-model="dob"
    max-date="datepickerEighteen"
    datepicker-mode="'year'"
    datepicker-popup="dd-MM-yyyy"
    is-open="dobOpened"
    required
    readonly="readonly" /> -->
    <!-- Biểu đồ -->
    <div class="chart-wrapper">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors">
        </canvas>
    </div>

</div>






